.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}
h3{
    letter-spacing: 0;
}
.pull-right{
    float: right;
}
.media{
    display: block;
}