<div class="row">
    <div class="col-md-12">
        <div class="card" *ngIf="film">
            <img class="card-img-top" src="{{film.Photo}}" alt="Film thumbnail" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">{{film.Name}}</h4>
                <p class="card-text">Rating: {{film.Rating}}</p>
                <p class="card-text">Release Date: {{film.RealeaseDate | date}}</p>
                <p class="card-text">Ticket Price: {{film.TicketPrice}}</p>
                <p class="card-text">Details: {{film.Description}}</p>
                <a class="btn btn-primary" (click)="gotoList()">Back to List</a>
            </div>
        </div>
        <div *ngIf="!film">
            <img src="https://cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif">
        </div>
        <div *ngIf="film && film.comment && film.comment.length">
            <h1>Comments</h1>
            <div class="page-header">
                <h1><small class="pull-right">{{film.comment.length}} comments found</small>  </h1>
            </div>
        </div>
        <hr *ngIf="film">
        <app-comment-list *ngIf="film" [comments]="film.comment"></app-comment-list>
        <div *ngIf="film && isUserloggedIn">
            <h1>Reply</h1>
            <app-comment [filmId]="film.id"></app-comment>
        </div>
    </div>
</div>
