<div class="row">
  <div class="col-md-12">
    <form [formGroup]="filmCreationForm" (submit)="addNewComment()">
      <div class="form-group">
        <label for="Name">Name:</label>
        <input type="text" class="form-control" formControlName="Name" id="Name">
      </div>
      <div class="form-group">
        <label for="Comment">Comment:</label>
          <textarea class="form-control" id="Comment" formControlName="Comment"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Comment</button>
    </form>
  </div>
</div>